<% if user_signed_in? %>

<h1> Contatos </h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
	<tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>   
        <th>Linkedin</th>
        <th> </th>      
	</tr>
  </thead>
  	<tbody>
	  <% @friends.each do |friend| %>
	  	<% if friend.user == current_user %>
		  	<tr>
		   	 <td>
		   	 	<%= link_to friend.first_name + ' ' + friend.last_name, friend %>
		   	 </td>		   	 
		 	 <td><%= friend.email %></td>
		 	 <td><%= friend.phone %></td>
		  	 <td><%= friend.linkedin %></td>
		  	 <td>
		  	 	<%= link_to 'Deletar', friend, method: :delete, data: { confirm: 'Tem certeza?' }, class:"btn btn-outline-danger btn-sm" %>		  	 	
		  	</td>
		  	</tr>
		  <% end %>	    
	  <% end %>
    </tbody>
</table>

<%= link_to "Novo contato", new_friend_path, class:"btn btn-secondary" %>

<% else %>

<h1>Olá, Mundo!</h1>

<% end %>